<div id="content">

	<div class="twitterfeed">
		<img src="images/twitter.png" alt="Twitter" id="logo" />
		<h3>Follow <a href="http://www.twitter.com/jrcryer">jrcryer</a></h3>

		<div id="tweet">
			<% @tweets.each{|tweet| %>
				<div>
					<p><%= tweet.text %></p>
				</div>
				<div id="web_intent">
					<span class="time"><%= time_ago_in_words(tweet.created_at) %></span>
					<a href="http://twitter.com/intent/retweet?tweet_id=<%= tweet.id %>">Retweet</a>
					<a href="http://twitter.com/intent/tweet?in_reply_to=<%= tweet.id %>">Reply</a>
					<a href="http://twitter.com/intent/favorite?tweet_id=<%= tweet.id %>">Favorite</a>
				</div>
				<hr />
			<% } %>
		</div>
		<span id="follow-twitter_screen_name" class="<%= @user %>"></span> 
		<div class="log-button">  
			<span id="login-logout"></span>  
			<script src="js/twitter-login.js"></script>  
		</div>
	</div>

</div>